{% include '@ncss/layout/header.html.twig' %}
{% if lang=='ar' %}
  {{ attach_library('ncss/rightCSS') }}
{% endif %}
<div class="auth-layout container-fluid d-flex two-column">
  <a class="back-btn" href="/">
    <img src="/themes/ncss/frontend/img/arrow-left-02.svg" class="rtl-rotate" alt="{{ "Left arrow"|t }}">
  </a>

  <div class="container-fluid ">
    <div class="tab-content" id="nav-tabContent">
      <div class="card border-0">
        <div class="card-body  mw-100" style="width: 900px;">
          <div class="text-center">
            <h1 class="title">{{ "Login to your account"|t }}</h1>

            <p class="description mw-100 mx-auto" style="width: 450px;">{{ "Sign in to access the center's services, follow studies, and easily participate in events and research initiatives."|t }}</p>
          </div>
          {{ page.content }}

          <div class="mt-4 text-center">
            <a href="/user/password" class="text-decoration-none d-inline-flex align-items-center gap-2 fw-semibold" style="color: #0d6efd; transition: all 0.3s ease;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
              </svg>
              {{ "Forgot your password?"|t }}
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
 </div>

{% include '@ncss/layout/footer.html.twig' %}
