{#
/**
 * @file
 * Bootstrap Barrio's Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 * - item.text: Text for the link
 * - item.url: URL object for link
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
{% if item.url %}
  {%
    set classes = [
      'local-task-btn',
      is_active ? 'local-task-btn--active' : 'local-task-btn--inactive',
      item.url.getOption('attributes').class ? item.url.getOption('attributes').class | join(' '),
      'local-task-btn--' ~ item.url.toString() | clean_class,
    ]
  %}
  <li{{ attributes.addClass('local-task-item', is_active ? 'local-task-item--active') }}>
    <div class="btn  m-2 text-white">
      {{ link(item.text, item.url, {'class': classes}) }}
      {% if is_active %}
        <span class="local-task-indicator"></span>
      {% endif %}
    </div>
  </li>
{% elseif link %}
  <li{{ attributes.addClass('local-task-item', is_active ? 'local-task-item--active') }}>
    <div class="btn  m-2 text-white">
      {{ link }}
      {% if is_active %}
        <span class="local-task-indicator"></span>
      {% endif %}
    </div>
  </li>
{% else %}
  <li{{ attributes.addClass('local-task-item', is_active ? 'local-task-item--active') }}>
    <div class="btn  m-2 text-white">
      <span class="local-task-btn {{ is_active ? 'local-task-btn--active' : 'local-task-btn--inactive' }}">
        {{ item.text }}
      </span>
      {% if is_active %}
        <span class="local-task-indicator"></span>
      {% endif %}
    </div>
  </li>
{% endif %}
